{% extends "padre.html" %} 
{% block cabecera %}
{{ parent() }}
<link rel="stylesheet" href="css/personajes.css" >
<link rel="stylesheet" href="css/comentarios.css" >
<script src="java/script.js"></script>
{% endblock %}
 {% block central %}
<section class="contenedor sobre personaje">
			<h2 class="titulo"><font  color="{{ evento['colornom'] }}">{{ evento['nombre'] }}</font></h2><! #29FFC6 !>
			<div class="contenedor-sobre-personaje">
				<div class="contenido-textos">
					<h3><strong>Introducción</strong></h3>
					<p> {{ evento['intro'] }}</p>
					<h3><strong>Personalidad</strong></h3>
					<p>{{ evento['personalidad'] }}</p>
				</div>
					
				<div class="tabla">
					<h2> {{ evento['mote'] }} </h2><! The Windborne Bard !>
						<img src="{{ evento['img'] }}" alt="" class="imagen-about-us"> <! img/venti.png !>
			
					<table border="1" bgcolor="{{ evento['color'] }}"> <! #BEFFED !>
						<tr>
							<th align="center" ><strong>Arma</strong></th>
							<th align="center" bgcolor="#FFF">
							<img src ="{{ evento['imgarma'] }}" width="30" height="30" alt=""/>{{ evento['arma'] }}</th> <! img/arcoicon.png !><! Arco !>
						</tr>
						
						<tr>
							<th align="center"><strong>Rareza</strong></th>
							<th align="center" bgcolor="#FFF">
							<img src ="img/5estrellas.png" width="30" height="30" alt=""/>Cinco</th> <! Cinco !>
							
						</tr>
						
						<tr>
							<th align="center"><strong>Elemento</strong></th>
							<th align="center" bgcolor="#FFF">
							<img src ="{{ evento['imgelem'] }}" width="30" height="30" alt=""/>{{ evento['elemento'] }}</th> <! img/anemo.png !><! Anemo !>
						</tr>
					</table>
					
					<table border="1" bgcolor="{{ evento['color'] }}"> <! #BEFFED !>
								
						<tr>
										
							<td align="center"><strong>Sexo</strong></td>
							<td align="center">{{ evento['sexo'] }}</td> <! Masculino !>
						</tr>	
									
						<tr>
							<td align="center"><strong>Cumpleaños</strong></td>
							<td align="center">{{ evento['cumpleaños'] }}</td> <! 16 de Junio !>
						</tr>
								
						<tr>
							<td align="center"><strong>Constelacion</strong></td>
							<td align="center">{{ evento['constelacion'] }}</td> <! Carmen Dei !>
						</tr>
									
						<tr>
							<td align="center"><strong>Nacion</strong></td>
							<td align="center">{{ evento['nacion'] }}</td> <! Mondstadt !>
						</tr>
									
						<tr>
							<td align="center"><strong>Como se Consigue</strong></td>
							<td align="center">{{ evento['consigue'] }}</td> <! Event Wish - Ballad in Goblets !>
						</tr>
									
						<tr>
							<td align="center"><strong>Fecha de Lanzamiento</strong></td>
							<td align="center">{{ evento['fecha'] }}</td> <! 28 de Septiembre de 2020 ! >
						</tr>
					</table>
				</div>
			
			
			<div id="header">
			<ul class="nav">
				<li><a href="">Comentarios</a>
					<ul>
					
					 <div id="comments">
					 	   	{%for i in 0..comentarios|length-1%}
					         <div class="container-comments">
					      
					        	<div class="comments">
					        		<div class="photo-perfil">
					        			<img src="img/perfil_jean.png" alt="">
					        		</div>
					        		<div class="info-comments">
					        			<div class="header">
					        				<h3>{{ comentarios[i]['nombre'] }}, {{ comentarios[i]['fecha'] }} {{ comentarios[i]['hora'] }}</h3>
					   
					        			</div>
					        			
					        			<p> {{ comentarios[i]['comentario'] }}</p>
					        			
					        			<div class="footer">
					        				<h5 class="request">Responder</h5>
					        		
					        			</div>
					        		</div>
					        	</div>
					        	{%endfor%}
					        </div>
					        	
					        </div>
					       
					       
					       <div class="container-data">
					        <div class="perfil-photo">
					       	<img src="img/perfil_klee.png" alt="">
					       </div>
					       <div class="formulario">
						<form id="formulario">
                					<h3>¡Comenta con la Comunidad!</h3>
                					<p>Nombre</p>
                					<input type="text" name="Nombre" id="nombre">
                					<p>Correo</p>
                					<input type="email" name="Correo" id="mail">
                					<div class="mensaje">
                						<p>Comentario:</p>
                						<input type="textarea" name="Texto" id="texto" oninput="palabras_baneadas()">
                						<p></p>
                					
                					</div>
                					<div class="btn-comments">
                						<input type="button" value="Enviar" onclick="validar_comentario()">
                					</div>
                				
           						 </form>
           						 
           						 </div>
           					</div>
				
	</div>

	</div>

						
					</ul>
				</li>
			</ul>
		</div>
		</div>
	
		</section>


{% endblock %}
 {% block footer %}

<div class="contenedor-footer">
			<div class="content-foo">
				<h4>{{ evento['id'] }}</h4>
				<a href="https://www.instagram.com/?hl=es"><img src="img/instagram.png" width="40" height="40" alt="" border=""></a>
				
			</div>
			<div class="content-foo">
				<h4>Twitter</h4>
				<a href="https://twitter.com/"><img src="img/twitter.png" width="40" height="40"  alt="" border=""></a>
			</div>
			<div class="content-foo">
				<h4>Facebook</h4>
				<a href="https://es-es.facebook.com/"><img src="img/facebook.png" width="40" height="40"  alt="" border=""></a>
				
			</div>
			<div class="content-foo">
				<h4>Imprimir</h4>
				<a href="http://localhost/imprimir.php?ev="><img src="img/imprimir.png" width="40" height="40"  alt="" border=""></a>
				
			</div>
		</div>
		<h2 class="titulo-final">&copy; Claudia Salado Méndez</h2>
{% endblock %}
