*{
 	margin:0;
 	padding:0;
 	box-sizing:border-box;
 }
 
 body{
 	font-family: 'Crimson Text';
 }
 
 .contenedor{
 	padding:60px 0;
 	width: 90%;
 	max-width:4000px;
 	margin: auto;
 	overflow: hidden;
 }
 
 .titulo {
 	color: #642a73;
 	font-size:30px;
 	text-align: center;
 	margin-bottom: 60px;
 }
 
 /*Header*/
 header{
 	width: 100%;
 	height: 600px;
 	background: #0cebeb;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, hsla(180, 90%, 50%, 0.7),hsla(165, 78%, 50%, 0.7), hsla(164, 100%, 50%, 0.7)), url(../img/portada.png);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, hsla(180, 90%, 50%, 0.7),hsla(165, 78%, 50%, 0.7), hsla(164, 100%, 50%, 0.7)), url(../img/portada.jpg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ 
	background-size: cover;
	background-attachment:  fixed;
	position: relative;
}

nav{
	text-align: right;
	padding: 30px 50px 0 0;
}

nav > a{
	color:#ffff;
	font-weight: 500;
	text-decoration: none;
	margin-right: 10px;
}

nav > a:hover{
	text-decoration: underline;
}

header .textos-header{
	display: flex;
	height: 430px;
	width: 100%;
	align-items: center;
 	justify-content: center;
 	flex-direction: column;
 	text-align: center;
 }
 
 .textos-header h1{
 	font-size: 50px;
}

.titulo{
	font-size: 70px;
	font-weight: 300;
}
 
.wave{
 	position: absolute;
 	bottom:0;
 	width: 100%;
 }
 
 /*About us*/
 
 
  .contenido-textos{
 	width: 38%;
 	margin-left: 5px;
 }
 
 .contenido-textos h3{
 	margin-top:15px;
 	margin-bottom: 7px;
 	font-size: 30px;
 	
 }
 
  .contenido-textos p{
 	margin-bottom: 7px;
 	text-align:justify;
 	padding: 0px 20px 0px 0px;
 	
 	
 }
 
 .imagen-about-us{
 	width: 100%;
 	padding: 20px 0px 20px 0px;
 }
 
 .contenedor-sobre-personaje{
 	display:flex;
 	justify-content: space-evenly;
 }
 
.tabla{
	width: 30%;
	padding: 20px;
	border: 2px solid black;
	float: left;
	margin-left: 10px;
}

/* Comentarios*/
.container-comments{
	margin-top: 20px;
	width: 80%;
}



.comments{
	display: flex;
}
			
.photo-perfil{
	width: 100px;
	width: 40%;
	height: 90px;
	border-radius:50%;
	overflow:hidden;
}
		
.photo-perfil img{
	width: 100%;
	height: 100%;
}

.info-comments{
	margin-left: 20px;
	background: #e6e6e6;
}


.info-comments .header{
	display: flex;
	justify-content: space-between;
	padding: 10px;
	background:#29FFC6;
	color:white;
}

.info-comments  p{
	padding: 20px;
	font-size: 10px;
}

.info-comments .footer{
	width: 100%;
	background: #29FFC6;
	padding:10px;
	color:black;
	display:flex;
	justify-content: space-between;
}

.info-comments .footer h5{
	font-size: 15px;
	cursor: pointer;
	color: white;
}



/* Escribir un Comentario*/
.container-data{
	margin-top:5px;
	position:relative;
	padding: 10px;
	display: flex;
	margin-top: 20px;
	width: 80%;
}

.perfil-photo{
	display:flex;
	width: 70px;
	height:60px;
	border-radius:50%;
	overflow:hidden;
}

.perfil-photo img{
	width:100%;
	height:100%;
}

.formulario{
	margin-left: 10px;
	background: #BEFFED;
	padding:5px;
	font-size:15px;
}

.mensaje{
	
	width: 50%;
	margin-top:5px;
	
}
	
.btn-comments{
	position:absolute;
	font-size:16px;
	color:white;
	background: #29FFC6;
	border-style:none;
}


	
	
/* Footer */
 
 footer{
 	background: #414141;
 	padding: 60px 0 30px 0;
 	margin: auto;
 	overflow: hidden;
 }
 
 .contenedor-footer{
 	display: flex;
 	width: 90%;
 	justify-content: space-evenly;
 	margin: auto;
 	padding-bottom: 50px;
 	border-bottom: 1px solid #ccc;
 }
 
 .content-foo{
 	text-align: center;
 }
 
 .content-foo h4{
 	color: #fff;
 	border-bottom: 3px solid #3BFFC7;
 	padding-bottom: 5px;
 	margin-bottom: 10px;
 }
 
 .content-foo p{
 	color: #ccc;

 }
 .titulo-final{
 	text-align: center;
 	font-size: 24px;
 	margin: 20px 0 0 0;
 	color: #9e9797;
 }
