{% extends "plantilla.html" %}

{%block cabecera%}
    {{parent()}} 
    <link href="css/comentarios.css" rel="stylesheet">  
{%endblock%}
    
{%block central%}

<div class="tablas">
    {%if error != "Null"%}
       <p>{{error}}</p>
    {%endif%}
    <table class="tabla">
        <tr>
            <th>Nick</th>
            <th>Email</th>
            <th>Rol</th>
            <th>Nuevo rol</th>
        </tr>
        {%for i in 0..usuarios|length-1%}
        <tr>
            <td>{{usuarios[i]['nick']}}</td>
            <td>{{usuarios[i]['email']}}</td>
            <td>{{usuarios[i]['rol']}}</td>
            <td>
                <form action="panelUsers.php" method="post" name="form{{i}}">
                <input type="text" name="nick" value="{{usuarios[i]['nick']}}" class="oculto">
                <select name="cambiorol">
                    <option value="default" selected>--</option>
                    <option value=1>Usuario</option>
                    <option value=2>Moderador</option>
                    <option value=3>Gestor de eventos</option>
                    <option value=4>SuperUsuario</option>
                </select>
                <button type="submit">Aplicar cambios</button>
                </form>
            </td>
        {%endfor%}
    </table>
</div>

{%endblock%}

{%block footer%}
{%endblock%}
